* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*NAVIGATION 1*/
#nav {
    background-color: #ff9900;
    height: 40px;
}

#nav ul li a {
    color: white;
    font-weight: bold;
}

#nav ul #logo {
    font-weight: bold;
    font-size: 22px;
}



.user-img {
    border-radius: 50%;
    width: 50px;
    height: 40px;
    object-fit: cover;

}

.menu-wrap {
    position: absolute;
    top: 7%;
    right: 0px;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    z-index: 1111;
}

.menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: rgb(227, 223, 214);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.user-imgs {
    border-radius: 50%;
    width: 50px;
    object-fit: cover;

}

.user-2 {
    display: flex;
    align-items: center;
}

.user-2 h3 {
    font-weight: 500;
    margin-left: 15px;

}

.user-icone {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;

}

.user-icone p {
    width: 70%;
    margin-bottom: 0;

}

.user-icone i {
    margin-right: 15px;

}

.user-icone span {
    font-size: 22px;
}

#img {
    border-radius: 50%;
    width: 200px;
    height: 200px;

}

.nav-item a i {
    font-size: 30px;
    color: black;
}

.user {
    background-color: green;
}

.user ul li a {
    color: white;
    font-weight: bold;
}

/*DEBUT PARTIE TABLEAU DE BORD */
#tel,
#what {
    font-size: 40px;
    padding-left: 40px;
}

#tel {
    color: black;
}

#what {
    color: green;
}

#evaluation i.fa-star {
    color: yellow;
}

/*TEMOIGNAGE*/
.box-top {
    box-shadow: 2px 2px 2px whitesmoke;
    background-color: whitesmoke;
    padding: 10px;
}

.etoile i {
    color: yellow;
}

#avis a {
    text-decoration: none;

}

.owl-nav {
    display: none;
}

/*FIN PARTIE TABLEAU DE BORD */







/* PARTIE LISTE D'ARTICLE*/
.card {
    overflow: hidden;
    padding: 10px;
    margin: 5px;
}
.card img{
    height: 300px;
}

/*PARTIE MODIFICATION D'INFORMATION*/
.information .mt-2 {
    position: relative;
}

.information label.form-label {
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 14px;
    background-color: white;


}

input[type="text"],
input[type="password"] {
    margin-top: 20px;
    width: 100%;
    height: 40px;

}

.btprofil {
    position: absolute;
    right: 100px;

}

.choisirunephoto {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;

}